/*General styling*/

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color:#fbe3e8;   
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  
  }
  

  .board {
    position: absolute;
    left: 15%;
    top: 20%;
    margin: auto;
    width: 100%;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background-color: white;
    border: 2px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 28px;
    width: 28px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }