/*Legend portion stylng*/

.legend {
    position: fixed;
    left:10vw;
    top: 12vh;
}

.bluebox {
    background-color:blue;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left:5vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .greenbox {
    background-color:green;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 19vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .greybox {
    background-color:grey;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 33vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .yellowbox {
    background-color:yellow;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 47vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .vbox1 {
    background-color:#FF9AA2;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 61vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .vbox2 {
    background-color:#FFB7B2;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 64vw;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .vbox3 {
    background-color:#FFDAC1;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 67vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .vbox4 {
    background-color:#E2F0CB;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 70vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .whitebox {
    background-color: white;
    border: 2px solid #999;
    position: fixed;
    top: 13vh;
    left: 84vw;
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 31px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 31px;
  }

  .t1 {
    font-size: 1vw;
    position: fixed;
    top: 14vh;
    left: 9vw;
  }

  .t2 {
    font-size: 1vw;
    position: fixed;
    top: 14vh;
    left: 23vw;
  }

  .t3 {
    font-size: 1vw;
    position: fixed;
    top: 14vh;
    left: 37vw;
  }

  .t4 {
    font-size: 1vw;
    position: fixed;
    top: 14vh;
    left: 51vw;
  }

  .t5 {
    font-size: 1vw;
    position: fixed;
    top: 14vh;
    left: 74vw;
  }

  .t6 {
    font-size: 1vw;
    position: fixed;
    top: 14vh;
    left: 88vw;
  }
